@use "../../styles/mixins" as *;

.main-menu {
  animation: menu-fade-in 0.5s linear;
  @include menu;

  &--no-animation {
    animation: none;
  }

  &__actions {
    @include actions;
  }

  &__button {
    @include button-menu;
  }

  &__text {
    position: absolute;
    bottom: -60px;
    color: orange;
  }
}
